@font-face {
	font-family: 'GothaPro';
	src: url(fonts/GothamPro.woff2) format('woff2'), url('fonts/GothaProReg.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothaPro';
	src: url(fonts/GothamPro-Bold.woff2) format('woff2'), url('fonts/GothaProBol.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}