html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	max-width: 1280px;
	height: 100%;
	background: #fff;
	font: 12px/11px 'GothaPro';
	color: #000;
}

.container {
	width: 1030px;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
}

.site-navigation,
.user-navigation,
.catalog-list,
.account-list,
.customer-list,
.miscellaneous-list,
.main-footer__social {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-header__nav-wrapper {
	display: flex;
	justify-content: flex-start;
}

.main-header__logo {
	padding: 32.46px 45px 28.5px 0;
}

.site-navigation {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: justify;
}

.site-navigation__item {
	margin-right: 35px;
	text-transform: uppercase;
}

.site-navigation__item:last-child {
	margin-right: 191.55px;
}

.link-item {
	text-decoration: none;
	color: #000;
	font-family: 'GothaPro';
	font-weight: 700;
}

.user-navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: justify;
}

.user-navigation .link-item {
	margin-right: 35px;
	text-transform: uppercase;
}

.user-navigation .link-item:last-child {
	margin-right: 0;
}

.form-search {
	width: 177.93px;
	height: 19.02px;
	margin-right: 35px;
}

.form-search .input {
	width: 164.41px;
	height: 19.02px;
	padding: 0 13.52px 1px 5px;
	outline: none;
}

.form-search .submit {
	width: 13.52px;
	height: 14px;
	margin-bottom: 5.02px;
	cursor: pointer;
	margin-left: -13.52px;
	border: none;
}

.input {
	position: relative;
	border: none;
	border-bottom: 1.5px solid #000;
}
.submit {
	position: absolute;
	background-image: url(img/лупа.svg);
}
.promo__wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 1030px;
	height: 280px;
	background-image: url(img/фон сек1.svg);
}

.promo__title {
	width: 195px;
	height: 86.94px;
	font: 30px/29px 'GothaPro';
	font-weight: 700;
	text-transform: uppercase;
}

.promo__link {
	text-transform: uppercase;
	text-decoration: none;
	color: ;
}