html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
	
body {
	min-height: 100vh;
	background: #fff;
	font-size: 12px;
	line-height: 11px;
	font-family: 'GothaPro';
	color: #000;
	margin: 0;
}

.container {
	max-width: 1030px;
	margin: 0 auto;
}

.site-navigation,
.user-navigation,
.catalog-list,
.account-list,
.customer-list,
.miscellaneous-list,
.main-footer__social {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-header__nav-wrapper {
	display: flex;
	padding-top: 33px;
	padding-bottom: 28px;
}

.main-header__burger {
	display: none;
}

.adapted-logo {
	display: none;
}

.main-header__logo {
	margin-right: 45px;
}

.site-navigation {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: justify;
}

.site-navigation__item {
	margin-right: 35px;
	text-transform: uppercase;
}

 .site-navigation__item:last-child {
 	margin-right: 0;
 }


.link-item {
	text-decoration: none;
	color: #000;
	font-family: 'GothaPro';
	font-weight: 700;
}

.link-item:hover {
	color: #b48484;
	opacity: .8;
}

.user-navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: justify;
	margin-left: auto;
}

.user-navigation .link-item {
	margin-right: 35px;
	text-transform: uppercase;
}

.user-navigation .link-item:last-child {
	margin-right: 0
}

.link-item_img {
	position: relative;
	padding-right: 19px;
}

.cart-img {
	position: absolute;
	top: -4px;
	right: 2px;
}

.form-search {
	width: 178px;
	height: 19px;
	margin-right: 35px;
}

.form-search .input {
	width: 164px;
	height: 19px;
	padding: 0 13px 1px 5px;
	outline: none;
}

.form-search .submit {
	width: 13px;
	height: 14px;
	margin-bottom: 5px;
	cursor: pointer;
	margin-left: -13px;
	border: none;
	background-color: transparent;
}

.input {
	position: relative;
	border: none;
	border-bottom: 1px solid #000;
}
.submit {
	position: absolute;
	background-image: url(img/lens.svg);
}
.promo {
	display: flex;
	align-items: center;
	background-image: url('img/background.jpg');
	padding: 91px 60px 75px 91px;
	margin-bottom: 54px;
}


.promo__title {
	margin-top: 0;
	width: 195px;
	height: 87px;
	font-size: 30px;
	line-height: 29px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 15px;
}

.promo__link {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	line-height: 11px;
	color: #fff;
}

.promo__link span {
	margin-right: 5px;
}

.promo__link:hover {
	color: #b48484;
	opacity: .8;
}

.bestsellers {
	margin-bottom: 26px;
}

.bestsellers__title {
	display: flex;
	justify-content: center;
	margin-top: 0;
	font-size: 22px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-align: justify;	
}


.catalog-item__link {
	color: #000;
	text-decoration: none;
}

.catalog-item {
	width: 22%;
	margin-right: 37px;
	position: relative;
}

.catalog-item:last-child {
	margin-right: 0;
}

.catalog-item:after {
	position: absolute;
	content: '';
	height: 100px;
	border: 1px solid #000;
	opacity: .2;
	left: 105%;
	bottom: 35%;
}

.catalog-item:nth-child(4n):after {
	position: absolute;
	content: '';
	border: none;
}

.catalog-item__link:hover {
	opacity: .8;
}

.catalog-item__link img {
	max-width: 100%;
}

.catalog-title {
	margin-top: 0;
	font-size: 12px;
	line-height: 11px;
	font-weight: 400;
}

.catalog-price {
	margin-top: 0;
	position: relative;
	font-size: 14px;
	line-height: 13px;
	font-weight: 700;
}

.circle {
	position: absolute;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	top: 3px;
}

.circle_grey {
	background-color: #C4C4C4;
	left: 71%;
}

.circle_black {
	background-color: #0E1211;
	left: 75%;
	top: 2px;
	width: 9px;
	height: 9px;
}

.circle_red {
	background-color: #B62E3C;
	left: 80%;
}

.circle_yellow {
	background-color: #FDB431;
	left: 84%;
}

.circle_burgundy {
	background-color: #762E31;
	width: 9px;
	height: 9px;
	left: 75%;
	top: 2px;
}

.circle_beige {
	background-color: #E29D69;
	width: 9px;
	height: 9px;
	left: 75%;
	top: 2px;
}

.circle_purple {
	background-color: #41479B;
	left: 80%;
}

.circle_blue {
	background-color: #257DA9;
	width: 9px;
	height: 9px;
	left: 75%;
	top: 2px;
}


.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	max-width: 1030px;
	padding: 75px 45px 74px 41px;
	margin-bottom: 80px;
}

.banner__img-column {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 50px;
	position: relative;
}

.banner__img {
	max-width: 
}

.img-column_btn {
	position: absolute;
	border-radius: 50%;
	border: none;
	background: transparent;
	cursor: pointer;
}

.img-column_btn:hover {
	opacity: .7;
}

.banner__text-column {
	display: flex;
	flex-direction: column;
}

.banner__title {
	color: #fff;
	font-size: 22px;
	line-height: 27px;
	font-weight: 700;
	margin-top: 0;
	text-transform: uppercase;
	text-align: justify;
}

.banner__text {
	font: 14px/17px 'GothaPro';
	color: #fff;
	text-align: justify;
}

.learn-more-button {
	font: 12px/11px 'GothaPro';
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.learn-more-button span {
	margin-right: 9px;
}

.learn-more-button:hover {
	color: #b48484;
	opacity: .8;
}

.news {
	display: flex;
	flex-direction: column;
	margin-bottom: 79px;
}
.news__general-title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: justify;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 22px;
	line-height: 21px;
	font-weight: 700;
}

.news__wrap {
	display: flex;
	justify-content: space-between;
}
.news__text-column {
	max-width: 307px;
}

.news__img {
	margin-bottom: 29px;
}

.news__title {
	font-size: 18px;
	line-height: 17px;
	margin-top: 0;
}
.news__text {
	font-size: 14px;
	line-height: 17px;
	margin-top: 0;
}
.button_news {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
}

.button_news span {
	margin-right: 7px;
}

.button_news img {
	margin-right: 120px;
}

.button_news:hover {
	color: #b48484;
	opacity: .8;
}

.date {
	opacity: .3;
}

.photo-gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.adapted-pic {
	display: none;
}

.photo-gallery__title {
	display: flex;
	justify-content: flex-end;
	text-transform: uppercase;
	opacity: .3;
	font-size: 18px;
	line-height: 17px;
	margin-bottom: 8px;
}

.photo-gallery__wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.photo-gallery__pic img {
	width: calc(100% / 7);
}

.main-footer {
	width: 100%;
	background: #000;
	padding: 69px 33px 20px 10px;
}

.main-footer__wrapper {
	display: flex;
	flex-direction: column;
}

.main-footer__container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: justify;
	margin-bottom: 58px;
}

.main-footer__wrap {
	max-width: 1170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.main-footer__wrap:before {
	content: '';
	width: 100px;
}

.main-footer__column {
}

.main-footer__section-title {
	margin-top: 0;
	color: #fff;
	text-transform: uppercase;
}

.main-footer__link {
	color: #fff;
	text-decoration: none;
}

.main-footer__link:hover {
	color: #b48484;
	opacity: .8;
}

.customer-list li {
	margin-bottom: 6px;
}

.miscellaneous-list li {
	margin-bottom: 6px;
}

.account-list li {
	margin-bottom: 6px;
}

.main-footer__section-text {
	margin-top: 0;
	color: #fff;
}

.main-footer__section-button {
	background: transparent;
	color: #fff;
	font-size: 10px;
	line-height: 10px;
	width: 137px;
	height: 30px;
	text-transform: uppercase;
	border: 1.5px solid #fff;
	margin-bottom: 23px;
}

.main-footer__section-button:hover {
	color: #b48484;
	opacity: .8;
	cursor: pointer;
	background: #fff;
}

.main-footer__social {
	display: flex;
	justify-content: space-between;
	width: 137px;
	margin-right: 0;
}

.main-footer__social-icon:hover {
	opacity: .3;
}

@media (max-width: 1024px) {
	.container {
		max-width: 930px;
		margin: 0 auto;
	}

	.promo {
		margin-bottom: 67px;
	}

	.bestsellers {
		margin-bottom: 52px;
	}

	.banner {
		margin-bottom: 95px;
	}

	.banner__img {
		max-width: 563px;
		max-height: 309px;
	}

	.banner__text {
		font-size: 13px;
		line-height: 16px;
	}

	.news {
		margin-bottom: 90px;
	}

	.news__text-column {
		max-width: 277px;
		margin-right: 50px;
	}

	.news__text-column:last-child {
		margin-right: 0;
	}

	.news__img {
		max-width: 277px;
	}

	.news__text {
		font-size: 13px;
		line-height: 16px;
	}

	.button_news span {
		margin-right: 0;
	}

	.button_news img {
		margin-right: 35%;
	}
}

@media (max-width: 924px) {
	.catalog-item:after {
		display: none;
	}

	.catalog-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.catalog-item {
		margin-right: 30px;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 681px;
		margin: 0 auto;
	}

	.main-header__nav-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.main-header__logo {
		display: none;
	}

	.adapted-logo {
		display: block;
	}

	.site-navigation {
		display: none;
	}

	.user-navigation {
		display: none;
	}

	.main-header__burger {
		display: block;
		position: relative;
		width: 61px;
		height: 25px;
	}

	.main-header__burger:before,
	.main-header__burger:after {
		position: absolute;
		content: '';
		background-color: #000;
		width: 100%;
		height: 9px;
	}

	.main-header__burger:before {
		top: 0;
	}

	.main-header__burger:after {
		bottom: 0;
	}

	.promo {
		background-image: url('img/backgroundadapted.png');
		margin-bottom: 67px;
		max-width: 100%;
	}
	

	.promo__title {
		font-size: 50px;
		line-height: 48px;
		width: 355px;
		height: 169px;
		margin-bottom: 36px;
	}

	.promo__link {
		font-size: 20px;
		line-height: 19px;
	}

	.catalog-item_adapted {
		display: none;
	}

	.catalog-item:after {
		display: none;
	}

	.catalog-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.catalog-item {
		width: 40%;
		height: 352px;
		margin-right: 66px;
	}

	.catalog-item {
		margin-right: 0;
	}


	.catalog-item__link img {
		max-width: 229px;
		height: 233px;
	}

	.catalog-title {
		font-size: 20px;
		line-height: 19px;
		font-weight: normal;
	}

	.catalog-price {
		font-size: 25px;
		line-height: 24px;
		font-weight: 700;
	}

	.circle {
		width: 20px;
		height: 20px;
		top: 2px;
	}

	.circle_grey {
		left: 61%;
	}

	.circle_black {
		left: 70%;
	}

	.cercle_red {
		left: 74%;
	}

	.circle_yellow {
		left: 90%
	}

	.circle_beige {
		left: 70%;
	}

	.background-wrap {
		background-image: url('img/Rectangle.png');
	}

	.banner {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		background-color: transparent;
	}

	.banner__img-column {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.banner__img {
		max-width: 100%;
	}


	.banner__text-column {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.banner__title {
		font-size: 30px;
		line-height: 37px;
	}

	.banner__text {
		font-size: 20px;
		line-height: 25px;
		text-align: center
	}

	.learn-more-button {
		display: none;
	}

	.news {
		margin-bottom: 138px;
	}

	.news__text-colimn_adapted {
		display: none;
	}

	.news__general-title {
		color: #fff;
		font-size: 30px;
		line-height: 29px;
	}

	.news__wrap {
		margin: 0 auto;
	}

	.news__title {
		color: #fff;
		font-size: 25px;
		line-height: 24px;
	}

	.news__text {
		color: #fff;
		font-size: 20px;
		line-height: 25px;
	}

	.button_news {
		color: #fff;
		font-size: 20px;
		line-height: 19px;
	}

	.button_news img {
		display: none;
	}


	.button_news span {
		position: relative;
		margin-right: 37px;
	}

	.date {
		color: #fff;
		opacity: 1;
		font-size: 15px;
		line-height: 14px;
	}

	.photo-gallery__wrapper {
		flex-wrap: wrap;
	}

	.photo-gallery__title {
		opacity: 1;
		color: #fff;
		font-size: 30px;
		line-height: 29px;
	}


	.photo-gallery__pic img {
		width: 170px;
		height: 170px;
	}

	.adapted-pic {
		display: inline-block;
	}

	.main-footer__wrap:before {
		display: none;
	}

	.main-footer__container {
		margin-bottom: 78px;
	}

	.main-footer__column {
		margin-right: 43px;
	}

	.main-footer__column:last-child {
		margin-right: 0;
		width: 149px;
	}

	.main-footer__column:last-child h4 {
		margin-bottom: 10px;
	}

	.main-footer__logo {
		display: none;
	}

	.main-footer__wrap {
		display: flex;
		justify-content: center;
		margin-bottom: 34px;
	}


}

@media (max-width: 375px) {
	.container {
		max-width: 276px;
		margin: 0 auto;
	}
}




